.form {
  background-color: white;
  width: 80%;
  align-self: flex-end;
  padding: 1rem;
  border-radius: 10px;
}

.landing {
  background-color: #fffefe;

  box-sizing: border-box;
  scroll-behavior: smooth;
  width: 100% !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.containerHero {
  background: linear-gradient(rgba(11, 12, 13, 0.4), rgba(11, 12, 13, 0.4)),
   url('../../../assets/landingImage3.webp');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding-top: 120px;
  padding-bottom: 120px;
  
 
}

 .item{
  cursor: pointer;
  transition: transform 0.4s;
  overflow: hidden;
  width: 230px;
  height: 210px;
  background-color: #fff;
}

.item:hover {
   scale: 1.1;
}


.contact {
  background-color: rgb(7,33,69);
  height: 70vh;
}

@media (max-width: 480px) {
  .containerAbout {
    display: flex !important;
    flex-direction: column !important;
  
  }
  .containerAbajo{
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    min-width: 100%;
    left: 0;
  }

  .containerHero {
    

    font-size: 10px !important;
    max-width: 100% !important;
    
   
  }

  .containerHero h1{

   
    font-size: 20px !important;
  

    
  }
  .containerHero h3{

   
    font-size: 15px !important;
  
  }
  }