.background-container {
   
    background-color: rgb(255, 255, 255);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh; 
    padding: 20px; 
    min-width: 100vh;
    position: relative; 
    left: 0; 
    right: 0;
    margin: 0; 
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container{
    min-width: 90%;
    padding: 40px !important;
}
.button-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 90%;

}
.table{
    width: 100%;
}

.buttonNuevo{
    background-color: rgb(7,33,69) !important;
}
.btn-lupa{
    border: none;
    background-color: rgba(245, 222, 179, 0);
    justify-content: center;
    align-items: center;
}
.containerlupa{
    width: 40px;
}
.containerlupa img{
    width: 100%;
}

.buttoNewClient{
    background-color: rgb(7,33,69) !important;
    margin-top: 30px;
}
